

#mihGraphText {
  top:370;
  margin-left:27%;
  text-align: center;
  color:black;
}

.demo-dot {
  -webkit-animation: bgg-a-xAxis 5.5s 1 cubic-bezier(0.02, 0.01, 0.21, 1);
  animation: bgg-a-xAxis 5.5s 1 cubic-bezier(0.02, 0.01, 0.21, 1);
  animation-fill-mode: forwards;
}

.demo-dot::after {
  content: '';
  display: block;
width:48px;
  height:48px;
  background:#FFFADC;
  border-style: solid;
  border-width: 3px;
  border-radius: 48px;
  margin-left: 5%;
  margin-top:20.6%;
  -webkit-animation: bgg-a-yAxis 3.5s 1 cubic-bezier(.25,.1,.25,1);
  animation: bgg-a-yAxis 3.5s 1 cubic-bezier(.25,.1,.25,1);
  animation-fill-mode: forwards;
}

@-webkit-keyframes bgg-a-yAxis {
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    -webkit-transform: translateY(-170px);
    transform: translateY(-170px);
    animation-fill-mode: forwards;
  }
}

@keyframes bgg-a-yAxis {
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    -webkit-transform: translateY(-170px);
    transform: translateY(-170px);
    animation-fill-mode: forwards;
  }
}


@-webkit-keyframes bgg-a-xAxis {
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    -webkit-transform: translateX(290px);
    transform: translateX(290px);
    animation-fill-mode: forwards;
  }
}

@keyframes bgg-a-xAxis {
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    -webkit-transform: translateX(290px);
    transform: translateX(290px);
    animation-fill-mode: forwards;
  }
}


.demo-dot2 {
   -webkit-animation: bgg-b-xAxis 3s 1 cubic-bezier(0.02, 0.01, 0.21, 1);
  animation: bgg-b-xAxis 3s 1 cubic-bezier(0.02, 0.01, 0.21, 1);
  animation-fill-mode: forwards;
}

.demo-dot2::after {
  content: '';
  display: block;
  
  margin-top:5.65%;
  margin-left: 42.1%;

width:48px;
  height:48px;
  background:#FFFADC;
  border-style: solid;
  border-width: 3px;
  border-radius: 48px;

  -webkit-animation: bgg-b-yAxis 2s 1 cubic-bezier(.25,.1,.25,1);
  animation: bgg-b-yAxis 2s 1 cubic-bezier(.25,.1,.25,1);
  animation-fill-mode: forwards;
}

@-webkit-keyframes bgg-b-xAxis {
  100% {
    -webkit-animation-timing-function: cubic-bezier(0,0,.58,1);
    animation-timing-function: cubic-bezier(0,0,.58,1);
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
    animation-fill-mode: forwards;
  }
}

@keyframes bgg-b-xAxis {
  100% {
    -webkit-animation-timing-function: cubic-bezier(0,0,.58,1);
    animation-timing-function: cubic-bezier(0,0,.58,1);
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
    animation-fill-mode: forwards;
  }
}

@-webkit-keyframes bgg-b-yAxis {
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
    animation-fill-mode: forwards;
  }
}

@keyframes bgg-b-yAxis {
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
    animation-fill-mode: forwards;
  }
}

.demo-dot3 {
   -webkit-animation: bgg-c-xAxis 3s 1 cubic-bezier(0.02, 0.01, 0.21, 1);
  animation: bgg-c-xAxis 3s 1 cubic-bezier(0.02, 0.01, 0.21, 1);
  animation-fill-mode: forwards;
  }

.demo-dot3::after {
  content: '';
  display: block;
  margin-top:34.4%;
  margin-left: 70.1%;
width:48px;
  height:48px;
  background:#FFFADC;
  border-style: solid;
  border-width: 3px;
  border-radius: 48px;
  -webkit-animation: bgg-c-yAxis 2s 1 cubic-bezier(.25,.1,.25,1);
  animation: bgg-c-yAxis 2s 1 cubic-bezier(.25,.1,.25,1);
  animation-fill-mode: forwards;
}

@-webkit-keyframes bgg-c-xAxis {
  100% {
    -webkit-animation-timing-function: cubic-bezier(0,0,.58,1);
    animation-timing-function: cubic-bezier(0,0,.58,1);
    -webkit-transform: translateX(240px);
    transform: translateX(240px);
    animation-fill-mode: forwards;
  }
}

@keyframes bgg-c-xAxis {
  100% {
    -webkit-animation-timing-function: cubic-bezier(0,0,.58,1);
    animation-timing-function: cubic-bezier(0,0,.58,1);
    -webkit-transform: translateX(240px);
    transform: translateX(240px);
    animation-fill-mode: forwards;
  }
}

@-webkit-keyframes bgg-c-yAxis {
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    -webkit-transform: translateY(-300px);
    transform: translateY(-300px);
    animation-fill-mode: forwards;
  }
}

@keyframes bgg-c-yAxis {
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    -webkit-transform: translateY(-300px);
    transform: translateY(-300px);
    animation-fill-mode: forwards;
  }
}


.bggEpiButt {
  font-size:2em;
  position: absolute;
  margin-top: 18%;
  text-align: center;
  margin-left: 18%;
  font-weight: 700;
}