/*Illustration*/

#table{
  width: 50%;
  height: 25%;
  margin-top:15%;
  margin-left: 25%;
  margin-right: 25%;
  position:relative;
  background: black;
}

#laptop{
  width:7%;
  height:20%;
  margin-left:50%;
  margin-top:-11%;
  position:relative;
  background:#FFFADC;
  border-style: double;
  border-width: 12px;
}

#cpu{
  width:4%;
  height:31%;
  margin-left:59%;
  margin-top:-7.5%;
  position:relative;
  background:#FFFADC;
  border-style: solid;
  border-width: 4px;
}

.cpubutton{
  width:100%;
  height:3%;
  margin-top: 10px;
  background:black;

}

#laptopMessage{
  font-family: 'Helvetica';
  font-size: 3em;
  margin-top: -30%;
  margin-left: 45%;
  width:20%;
  color: black;  
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 0.5s;
  animation-iteration-count:infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  from {color: black;}
  to {color:#FFFADC;}
}

/* Standard syntax */
@keyframes example {
  from {color: black;}
  to {color:#FFFADC;}
}


#windowFrame2{
    width: 15%;
    height: 40%;
    margin-top:-16%;
    margin-left:25%;
    position:relative;
    display:inline-block;
    background:#FFFADC;
    border-style: solid;
    border-width: 4px;
}


#windowFrame{
  width: 92%;
  height: 87%;
  margin-top:4%;
  margin-left:4%;
  position:relative;
  display:inline-block;
  background:black;
}

/*
#tsos05{
  margin-top: 10%;
}
*/







