

.axisButton{
  margin-left:5%;
  margin-top:22%;
  width:12px;
  height:12px;
  background:#FFFADC;
  border-style: solid;
  border-width: 2px;
  position:absolute;
  
}

.storyTitle1{
  font-family: 'Kelly Slab', cursive;
  font-size:6em;
  margin-left:0%;
  margin-top:0%;
  text-align: center;
  line-height: 0.2;
}

.mnhtitles{
  margin-top: 5%;
}


.axisButton:hover{
  background-color: black;
}



.mnhSubtitles{
  font-family:'Josefin Sans', sans-serif;
  font-size:2em;
  margin-left:0%;
  margin-top: -6%;
  text-align: center;
}

#mnhET{
  font-family:'Abril Fatface', cursive;
  font-size:7em;
  margin-left:45%;
  margin-top: 18%;

}


.axisLine{
  height:100%;
  width:4px;
  margin-left:5%;
  background-color:black;
  z-index: -1;
  position:absolute;
  bottom:0;
}


#mnh2{
  margin-left:48.1%;
  margin-top:-7.7%;
  position: absolute;
}

#mnh{
  margin-top:4%;
  font-family: 'Kelly Slab';
  font-weight: 400;
  font-size:1.5em;
  width:30%;
  margin-left: 35%;

}




#mnh0{
    font-family: 'Kelly Slab';
  font-weight: 400;
  font-size:1.5em;
  width:30%;
  margin-left: 35%;
  margin-top:8%;
  font-size:1.5em;

}

#mnhfwdButt{
  margin-left:13%;
  font-size:1.5em;

}


#mnhET2{
  font-family:'Abril Fatface', cursive;
  font-size:7em;
  margin-left:45%;
    -webkit-animation: curtainRise 5s;
    animation: curtainRise 5s;
      animation-fill-mode: forwards;

}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes curtainRise {
    from {margin-top:18%;}
    to {margin-top:-28%;}
}

@keyframes curtainRise {
    from {margin-top:18%;}
    to {margin-top:-28%;}

}

.mnhEpiButt {
  font-size:2em;
  position: absolute;
  margin-top: 18%;
  text-align: center;
  margin-left: 23%;
  font-weight: 700;
}
